@import './variable';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba($color: $orange, $alpha: 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($color: $orange, $alpha: 0.2);
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $orange, $alpha: 0.8);

}